@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="nav_container">
    <a id="title_font" class="item" href="%">CHM209 포트폴리오</a>
    <div class="item">
        <a class="nav_font" href="https://chm209.github.io/index">블로그</a>
    </div>
</div>
<div id="main_container">
    
</div>
